<body id="defBG">
  <!-- DWT Test Show page, displays data in 3 columns so it is easy for clinicians to review and understand the scores -->
  <div class="container p-5 my-3 w-100 bg-white border-0">
    <h1 class="display-3 pl-4" style="padding-top:20px">
      <b><%= @dwt_test.test_type %> Test Results</b>
    </h1>
    <hr>

    <!-- TOP ROW: Left Ear / Image / Right Ear -->
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h2 class="pt-5" style="padding-top:20px"><center><b>Left Ear Score</b></center></h2>
          <h2 class="display-5" style="padding-top:7px"><center><b><%= @dwt_test.left_score %>%</b></center></h2>
          <h2 class="pt-3" style="padding-top:17px"><center><b>Left Ear Percentile</b></center></h2>
          <h3 class="display-5" style="padding-top:7px"><center><b><%= @dwt_test.left_percentile %></b></center></h3>
        </div>
        <div class="col-sm">
          <%= image_tag 'person.png',
              class: 'w-40 img-responsive center-block',
              style: 'max-width: 20rem;' %>
        </div>
        <div class="col-sm">
          <h2 class="pt-5" style="padding-top:20px"><center><b>Right Ear Score</b></center></h2>
          <h2 class="display-5" style="padding-top:7px"><center><b><%= @dwt_test.right_score %>%</b></center></h2>
          <h2 class="pt-3" style="padding-top:17px"><center><b>Right Ear Percentile</b></center></h2>
          <h3 class="display-5" style="padding-top:7px"><center><b><%= @dwt_test.right_percentile %></b></center></h3>
        </div>
      </div>
    </div>

    <style>
      /* Center buttons in the table cells */
      .btn-group-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      /* Make the font larger for the selected words toggles */
      .btn.btn-outline-primary {
        font-size: 14px; /* Adjust as needed */
        padding: 0.25rem 0.5rem; /* Smaller padding */
        margin: 2px;
        min-width: 30px; /* Adjust as needed */
      }

      .centered-content {
        display: flex;
        flex-direction: column; /* Align content vertically */
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        height: 100vh; /* Adjust as needed to ensure full vertical centering */
        text-align: center; /* Center text content */
      }

      /* Ensure the table is compact */
      .table {
        margin-bottom: 0; /* Reduce extra spacing below table */
      }

      .left-column {
        background-color: lightblue;
      }

      .right-column {
        background-color: lightpink;
      }

      .ear-advantage {
        text-align: center;
        font-weight: bold;
      }

      .percentile {
        text-align: center;
        font-weight: bold;
      }
    </style>

    <!-- BELOW ROW: Two columns side-by-side:
         Left = Selected Words
         Right = Interpretation + Scores Table + Percentile Table 
    -->
    <div class="row mt-4">
      <!-- LEFT COLUMN: Selected Words -->
      <div class="col-md-6">
        <% if @dwt_test.selected_words.present? %>
          <h3>Selected Words</h3>
          <table class="table table-sm table-striped ml-4" style="max-width: 25rem;">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Number</th>
                <th class="text-center">Left</th>
                <th class="text-center">Right</th>
              </tr>
            </thead>
            <tbody>
    <% words_list = case @dwt_test.category_id
                   when 1
                     [
                       ["Fun", "Pig"],
                       ["Vine", "Sheep"],
                       ["Cake", "Buy"],
                       ["Round", "Storm"],
                       ["Say", "Tan"],
                       ["Yes", "Fast"],
                       ["Pen", "Most"],
                       ["Bet", "One"],
                       ["Green", "Booth"],
                       ["Store", "Glass"],
                       ["Soap", "Teeth"],
                       ["Bring", "Share"],
                       ["Rug", "Book"],
                       ["Want", "Soft"],
                       ["Tow", "Kite"],
                       ["Why", "Quack"],
                       ["Comb", "For"],
                       ["That", "Love"],
                       ["Bug", "Wet"],
                       ["Quiz", "Juice"],
                       ["Camp", "Light"],
                       ["Hand", "Goose"],
                       ["Lip", "Dad"],
                       ["Fall", "Room"],
                       ["Old", "Chef"]
                     ]
                   when 2
                     [
                       ["Bell", "Farm"],
                       ["Same", "Cast"],
                       ["Child", "Bowl"],
                       ["How", "Plug"],
                       ["Lick", "Top"],
                       ["Watch", "Horse"],
                       ["Ham", "Day"],
                       ["When", "Truck"],
                       ["Drink", "Rhyme"],
                       ["Sleep", "Yard"],
                       ["Greek", "Stop"],
                       ["Den", "Red"],
                       ["Song", "Math"],
                       ["Dog", "More"],
                       ["Spoon", "North"],
                       ["But", "Chip"],
                       ["Year", "Nice"],
                       ["Cloud", "Make"],
                       ["Tag", "Heart"],
                       ["Pot", "Ball"],
                       ["Door", "Set"],
                       ["Cup", "Pat"],
                       ["Close", "Shine"],
                       ["Ring", "Test"],
                       ["Rough", "Corn"]
                     ]
                   when 3
                     [
                       ["Post", "Rim"],
                       ["Two", "Look"],
                       ["Cook", "Bite"],
                       ["Car", "Lamp"],
                       ["Skip", "Kiss"],
                       ["Dream", "Floor"],
                       ["Phone", "Damp"],
                       ["Sit", "Gold"],
                       ["Bear", "Sun"],
                       ["Knife", "Bath"],
                       ["Leg", "Milk"],
                       ["Young", "Brush"],
                       ["See", "Law"],
                       ["Cat", "Hug"],
                       ["Grass", "Square"],
                       ["Weird", "Globe"],
                       ["Bird", "Fork"],
                       ["Bus", "Swing"],
                       ["Snow", "Race"],
                       ["Moon", "Wall"],
                       ["Heel", "Five"],
                       ["Mud", "Sheet"],
                       ["Mat", "Nail"],
                       ["Gum", "Pie"],
                       ["Pill", "Key"]
                     ]
                   when 4
                     [
                       ["Bar", "Head"],
                       ["Box", "Shelf"],
                       ["Will", "Pan"],
                       ["Work", "Dive"],
                       ["Knit", "Where"],
                       ["Down", "Vase"],
                       ["Food", "Judge"],
                       ["Gas", "Sand"],
                       ["Van", "Game"],
                       ["Joke", "Need"],
                       ["New", "Late"],
                       ["Plate", "Rope"],
                       ["Jar", "Fish"],
                       ["First", "Black"],
                       ["Voice", "Rose"],
                       ["Bed", "Catch"],
                       ["Couch", "Best"],
                       ["Type", "Big"],
                       ["Rain", "Mouse"],
                       ["Cow", "Her"],
                       ["Neat", "Rock"],
                       ["Sing", "Plain"],
                       ["Learn", "Dark"],
                       ["Yell", "White"],
                       ["Help", "Knee"]
                     ]
                   else
                     []
                   end %>

              <% 25.times do |i| %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td>
                    <div class="btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-primary column1-button <%= 'active' if @dwt_test.selected_words[i.to_s]&.include?("1") %>">
                        <%= words_list[i][0] %>
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-primary column2-button <%= 'active' if @dwt_test.selected_words[i.to_s]&.include?("2") %>">
                        <%= words_list[i][1] %>
                      </label>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class= "text-center">Test was taken before test viewing was implemented, and cannot be reviewed.</p>
        <% end %>
      </div>
         <!-- RIGHT COLUMN: Interpretation, Scores, and Percentiles -->
      <div class="col-md-6">
        <hr>
        <h1 class="text-center"><b>Interpretation of Test:</b></h1>
        <h2 class = "text-center"><b><strong><%= @dwt_test.interpretation %></strong></b></h2>
        <hr>

        <!-- SCORES TABLE -->
        <h3 class="display-4 pl-2 text-center" style="padding-top:20px"><b>Scores Table</b></h3>
        <!-- Table row -->
        <div class="row ">
          <div class="col-12 d-flex justify-content-center">
            <table class="table table-sm table-bordered m1-4 text-center" style="max-width: 25rem;"> 
              <thead>
                <tr>
                  <th scope="col">Pairs</th>
                  <th scope="col">Left</th>
                  <th scope="col">Right</th>
                  <th scope="col" class="text-center">Ear Adv</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td class="left-column"><%= @dwt_test.left_score %>%</td>
                  <td class="right-column"><%= @dwt_test.right_score %>%</td>
                  <td class="ear-advantage"><%= @dwt_test.ear_advantage_score %>0%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>

        <!-- SPACE BETWEEN TABLE AND TEXT -->
        <div style="margin-top: 1rem;"></div>

        <!-- Values underneath the table -->
        <div class="row">
          <div class="col-12">
            <!-- Label (NOT CENTERED), bold -->
            <h1><b>Dominant Ear:</b> <b><strong><%= @dwt_test.ear_advantage %></strong></b></h1>
            <br>
            <!-- Label (NOT CENTERED), bold -->
            <h1><b>Ear Advantage Score:</b> <b> <strong><%= @dwt_test.ear_advantage_score %>%</b></h1>
            <!-- Value (CENTERED + BOLD) -->
          </div>
        </div>

        <hr>

        <!-- PERCENTILE TABLE -->
        <h3 class="display-4 pl-2 text-center" style="padding-top:20px"><b>Percentile Table</b></h3>
        <!-- Table row -->
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <table class="table table-sm table-bordered m1-4 " style="max-width: 25rem;">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Left Ear</th>
                  <th scope="col" class="text-center">Right Ear</th>
                  <th scope="col" class="text-center">Ear Advantage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="percentile"><%= @dwt_test.left_percentile %></td>
                  <td class="percentile"><%= @dwt_test.right_percentile %></td>
                  <td class="percentile"><%= @dwt_test.advantage_percentile %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- SPACE BETWEEN TABLE AND TEXT -->
        <div style="margin-top: 1rem;"></div>

        <!-- Value underneath the table -->
        <div class="row">
          <div class="col-12">
            <!-- Label (NOT CENTERED), bold -->
            <h1><b>Ear Advantage:</b> <b><strong> <%= @dwt_test.advantage_percentile %></strong></b></h1>
          </div>
        </div>


    <!-- Background Color Logic for Ear Advantage & Percentile Cells -->
    <style>
      .left-column {
        background-color: lightblue;
      }
      .right-column {
        background-color: lightpink;
      }
    </style>

    <script>
      const earAdvantageCells = document.querySelectorAll('.ear-advantage');
      const percentileCells = document.querySelectorAll('.percentile');

      // Ear Advantage background color logic
      earAdvantageCells.forEach(cell => {
        const value = parseFloat(cell.textContent);
        if (value < 0) {
          cell.style.backgroundColor = 'lightblue';
        } else if (value > 0) {
          cell.style.backgroundColor = 'lightpink';
        } else {
          cell.style.backgroundColor = 'white';
        }
      });

      // Percentile background color logic
      percentileCells.forEach(cell => {
        const percValue = cell.textContent.trim();
        if (percValue === "5th Percentile") {
          cell.style.backgroundColor = 'lightpink';
        } else if (percValue === "10th Percentile") {
          cell.style.backgroundColor = 'hsl(60, 100%, 70%)';
        } else if (percValue === "25th Percentile") {
          cell.style.backgroundColor = 'lightgreen';
        } else {
          cell.style.backgroundColor = 'lightblue';
        }
      });
    </script>
  </div>
</body>