
<body class="login-process blue-background" style="overflow-y: auto; display: flex; flex-direction: column; justify-content: center;">
  <div class="container p-5 bg-white rounded-corner center-align" style="text-align: center; max-height: 90vh; overflow-y: auto;">
    <div class="logo">
      <%= link_to new_user_mfa_session_path do %>
        <%= image_tag "back_arrow.svg", class: "back-arrow" %>
      <% end %>
    </div>
    
    <div class="d-flex justify-content-center">
      <%= image_tag 'AudiaShield1.png', style: "margin: 0 auto; width: 125px " %>
    </div>
    
    <h3 class="label-medium text-padding" style="font-weight: bold;">Email Verification</h3>
    <p>A verification code has been sent to: <%= current_user.email %></p>
    
    <%= form_tag verify_email_2fa_user_mfa_sessions_path, method: :post, class: "form-container" do %>
      <div class="form-group">
        <%= label_tag :email_2fa_code, 'Enter the code from your email', class: 'label-medium' %>
        <%= text_field_tag :email_2fa_code, nil, class: "form-control form-control-lg rounded-pill", style: "padding:10px;" %>
      </div>
      
      <div class="actions" style="margin-top: 2em;">
        <%= submit_tag 'Verify Code', class: 'btn btn-primary btn-lg btn-block rounded-pill' %>
      </div>
    <% end %>
  </div>
</body>
