<%= stylesheet_link_tag "login-page" %>

<div>
  <div class="panel left">
    <div class="logo">
      <%= link_to new_user_session_path do %>
        <%= image_tag "AUDIA_RGB_LOGO_w.png", class: "logo-image" %>
      <% end %>
    </div>
    <div class="center">
      <div class="container my-3 w-75">
        <h2 class= "display-2", style= 'padding-bottom:20px' ><strong>Don't Have an Account?</strong></h2> 
        <%= link_to "Sign Up Here", new_user_registration_path, class: "btn btn-primary btn-lg btn-block rounded-pill" %>
        <h3 style="padding: 10px;">or<h3>
        <%= link_to "Learn More Here", about_path, class: "btn btn-primary btn-lg btn-block rounded-pill"%>
      </div>
    </div>
  </div>

  <div class="panel right">
    <div class="center">
      <div class="container my-3 w-75">
        <h2 class= "display-1", style= 'padding-bottom:20px' ><strong>Log in</strong></h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field", style= 'padding-bottom:20px'>
            <%= f.label :email, class: 'label-medium' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control form-control-lg rounded-pill", style: ' padding:10px;' %>
          </div>

          <div class="field">
            <%= f.label :password, class:'label-medium' %><br />
            <%= f.password_field :password, autocomplete: "current-password",class: "form-control form-control-lg rounded-pill", style: ' padding:10px;' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me, class: 'checkbox-padding' %>
              <%= f.label :remember_me, class: 'label-small' %>
            </div>
          <% end %>

          <div class="actions" style= 'padding-bottom:20px'>
            <%= f.submit "Log in", class: 'btn submit-button btn-primary btn-lg btn-block rounded-pill' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
