<body id="defBG">
  <div class="container p-5 my-3 w-50 border rounded bg-white">
    <h2 class="display-2" style='padding-bottom:20px'><strong>Sign Up</strong></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "registration_form"}) do |f| %>
      <!--- <%= render "devise/shared/error_messages", resource: resource %> --->

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :fname, autofocus: true, class: "form-control form-control-lg", style: 'padding:10px;', required: true%>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :lname, autofocus: true, class: "form-control form-control-lg", style: 'padding:10px;', required: true %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", style: 'padding:10px;' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg", style: 'padding:10px;' %>
      </div>

      <div class="form-group">
        <label>Select Account Type:</label><br />
        <p id="accountTypeErrorMessage" hidden style="color: red;">Please select an account type.</p>
        <input type="radio" name="account_type" value="local_moderator" id="localModerator"> Create a Local Moderator<br />
        <input type="radio" name="account_type" value="regular_user" id="regularUser"> I Have a Sign-Up Code<br />
      </div>

      <!-- Registration Key Field -->
      <div class="form-group" id="registrationKeyField" style="display:none;">
        <%= f.label :verification_key %>
        <%= f.text_field :verification_key, class: "form-control form-control-lg", style: 'padding:10px;', id:"registrationKey"%>
      </div>

      <!-- Local Moderator Code Field -->
      <div class="form-group" id="signUpCodeField" style="display:none;">
        <%= f.label :moderator_code, "Enter Local Moderator Code" %>
        <%= f.text_field :moderator_code, class: "form-control form-control-lg", style: 'padding:10px;', id:"moderatorKey"%>
      </div>

      <div class="terms-of-service"> 
        <%= f.check_box :terms_accepted, disabled: true, id: 'tos-checkbox' %>
        <%= f.hidden_field :terms_accepted, id: 'tos-accepted', value: 'false' %>
        <p>I have read the 
          <button type = "button" onclick = "showText(event)" data-turbo="false" class="btn btn-link" style= "font-size: 20px; padding-bottom: 0.57em;">Terms of Service</button>
        </p>
      

        <div id="tos-model" class="tos-model" style="display:none;">
          <div class= 'tos-text'>
            <h3>Terms of Service</h3>
            <p>
              Insert text here...
            </p>
            <button type = "button" onclick = "tosAccept(event)" data-turbo="false">I accept</button>
          </div>
        </div>
      </div> 
      
      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-primary btn-lg btn-block', data: { disable_with: false } %>
      </div>
    <% end %>
  </div>
  
  <%# <script src="terms_of_service.js"></script> %>
</body>
 <%= javascript_include_tag 'registrationFormValidation' %>
  <%= javascript_include_tag 'terms_of_service' %>