<body id= "defBG">
  <div class="container p-5 my-3 w-100 border rounded bg-white ">

    <!--
    <%= javascript_include_tag 'application', 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>
    -->
    <div data-list-type=<%= data_list_type%> ></div>

      <h1 class= "display-5", style= 'padding-bottom:20px' ><strong><%= "Testing " + @client.first_name + " " + @client.last_name%></strong></h1>

      <!--Test page for DWT LIST 1 Contains everything for completing and submitting a test  -->

      <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet" />

      <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

      <!-- left column contains all details regarding testing, -->
      <%= form_with model: [@client, @dwt_test], local: true do |f| %>
        <%= f.hidden_field :category_id, value: @dwt_test.category_id %>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="form-group row">
                <!--label just determines what test this is to test giver -->
                <label for="exampleLabel">Label</label>
                <%= f.text_field :label, class: "form-control", type: "text", id: "exampleLabel", value: example_label %>
              </div>
              <div class="form-group row">
                <label for="clientName">Client</label>
                <input class="form-control" type="text" id="clientName" placeholder="<%= @client.first_name + ' ' + @client.last_name %>" readonly>
              </div>
              <div class="form-group row">
                <label for="testType">Type</label>
                <input class="form-control" type="text" id="testType" placeholder="DWT" readonly>
              </div>
              <hr/>

              <div class="form-group row">
                <!--Conditions are just for the test giver to determine, all tests are pretty much free recall unless test giver is doing specific procedure -->
                <label for="conditionSelect">Condition</label>
                <select class="form-control" id="conditionSelect">
                  <option>FreeRecall</option>
                  <option>DirectedLeft</option>
                  <option>DirectedRight</option>
                </select>
              </div>                                
              <hr/>

              <!--sticky just means certain forms will "stick" to the page while the test table is scrolled through -->
              <div class="sticky">
                <label for="Notes">Notes</label>
                <%= f.text_area :notes, class: 'form-control', rows: '3' %>
                <hr/>
                            
                <!--AUDIO PLAYER FOR AUDIO FILES STORED IN ASSETS/AUDIO/ETC.MP3-->
                <audio id="audioPlayer">
                  <source src="<%= asset_path(audio_asset) %>" type="<%= audio_type%>">
                </audio>

                <!-- AUDIO PLAYER CONTROLS -->
                <button id="startAudioBtn" type="button" class="btn btn-info" disabled>Start Audio</button>
                <button id="stopAudioBtn" type="button" class="btn btn-info" disabled>Stop Audio</button>
                <span id="audioTimeContainer"><i>Loading...</i></span>
                <hr/>

                <!--BUTTONS FOR RECORDING AUDIO AND SENDING TO SERVER FOR TRANSCRIPTION-->
                <button id="startBtn" type="button" class="btn btn-info">Start Recording</button>
                <button id="stopBtn" type="button" class="btn btn-info" disabled>Stop Recording</button>
                <hr/>

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            
                <!--this is the table for the test scores, how the child is doing on the test is displayed in the cell based on the ear, and the ear advantage (difference between ears)-->
                <p>Scores:</p>
                <table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
                  <thead>
                    <tr>
                      <th scope="col">Pairs</th>
                      <th scope="col">Left</th>
                      <th scope="col">Right</th>
                      <th scope="col">Ear Adv</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td class="left-column"><span id="column1-percent">0</span>%</p></td>
                      <td class="right-column"><span id="column2-percent">0</span>%</td>
                      <td class="ear-advantage"><span id="advantage-Diff">0</span>%</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!--This is the ear advantage direction, just left, right, neutral.-->
              <label for="read-Only">Ear Advantage</label>
              <input class="form-control" type="text" id="read-Only" value="" readonly />
              <span hidden id="advantage-Name"></span>
              <!--Interpretation is the "diagnosis" given based on the childs age and scores so far through the test-->
              <label for="read-Only">Interpretation</label>
              <input class="form-control" type="text" id="read-Only-diag" value="" readonly />
              <span hidden id="Diagnosis"></span>
              <hr/>

              <!--percentile is how good the current score is based on data collected for children that age. this can be either within normal limits, 25th percentile, 10th percentile, 5th percentile in order of best to worst -->
              <p>Percentile of Scores:</p>
              <table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
                <thead>
                  <tr>
                    <th scope="col">Left Ear</th>
                    <th scope="col">Right Ear</th>
                    <th scope="col">Ear Advantage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="percentile"><span id="left-percentile"></span></td>
                    <td class="percentile"><span id="right-percentile"></span></td>
                    <td class="percentile"><span id="advantage-percentile"></span></td>
                  </tr>
                </tbody>
              </table>

              <!--css to make tables look good and not super blocky and bad -->
              <style>
                /* Center buttons in the table cells */
                .btn-group-toggle {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100%;
                  width: 100%; /* Set the width to 100% to make buttons occupy the entire cell */
                }

                /* Make the font larger */
                .btn.btn-outline-primary {
                  font-size: 16px; /* Adjust the font size as needed */
                  /* Remove margin and min-width properties */
                }
              </style>
            </div>

            <!--this is the right column, which will contain the test buttons table that are clicked for the test -->
            <div class="col-sm">

              <table class="table table-sm table-striped ml-4" style="max-width: 25rem;">
                <thead class="thead-dark">
                  <tr>
                    <th>Number</th>
                    <th>Left</th>
                    <th>Right</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Loop for table of words and creation of all buttons, only loops 25 times and creates table for buttons-->
                  <% 25.times do |i| %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td>
                        <div class="btn-group-toggle" data="buttons">
                          <label class="btn btn-outline-primary column1-button">
                            <input type="checkbox" name="selected_words[<%= i %>][]" value="1"> <%= words[i][0] %>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="btn-group-toggle" data="buttons">
                          <label class="btn btn-outline-primary column2-button">
                            <input type="checkbox" name="selected_words[<%= i %>][]" value="2"> <%= words[i][1] %>
                          </label>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

              <!--css for the background color of the test scores, the pos and neg ones are not used currently-->
              <style>
                .left-column {
                  background-color: lightblue;
                }

                .right-column {
                  background-color: lightpink;
                }

                .ear-advantage {
                  background-color: white;
                }

                .ear-advantage.positive {
                  background-color: lightblue;
                }

                .ear-advantage.negative {
                  background-color: lightpink;
                }
              </style>
            
              <!--Hidden table for submission items-->
              <%= f.hidden_field :client_name, value: "Example user" %>
              <%= f.hidden_field :test_type, value: "DWT" %>
              <%= f.hidden_field :left_score, id: "left_score" %>
              <%= f.hidden_field :right_score, id: "right_score" %>
              <%= f.hidden_field :ear_advantage, id: "ear_advantage" %>
              <%= f.hidden_field :ear_advantage_score, id: "ear_advantage_score" %>
              <%= f.hidden_field :interpretation, id: "interpretation" %>
              <%= f.hidden_field :left_percentile, id: "left_percentile" %>
              <%= f.hidden_field :right_percentile, id: "right_percentile" %>
              <%= f.hidden_field :advantage_percentile, id: "advantage_percentile" %>

              <%= f.submit "Submit", class: "btn btn-primary btn-block", onclick: "populateHiddenFields()" %>
            </div>
          </div>
        </div>
      <% end %>
        
      <!--this is just a storage of variable in the html outside of the js so that they can be pulled to the forms above -->
      <div>
        <p><span hidden id="column1-count"></span></p>
        <p><span id="column1-percent"></span></p>
        <p><span hidden id="column2-count"></span></p>
        <p><span id="column2-percent"></span></p>
        <p><span id="advantage-Diff"></span></p>
        <p><span id="left-percentile"></span></p>
        <p><span id="right-percentile"></span></p>
        <p><span id="advantage-percentile"></span></p>
      </div>
      <hr/>  
  </div>

    <div id="client-data" data-age="<%= @client.age_in_years %>"></div>
    <%= javascript_pack_tag 'dwt_script' %>

    <%= javascript_pack_tag 'transcription' %>
</body>