<body class="bg-light center">
  <div class="container p-5 my-3 w-100 border rounded bg-white ">
    <h1 class="display-5" style='padding-bottom:20px'><strong><%= "Training " + @client.first_name + " " + @client.last_name %></strong></h1>

    <!-- Fairy Tales Test Section -->
    <%= form_with model: [@client, @week_three], local: true, html: { multipart: true } do |f| %>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <!-- Audio Controls -->
            <p>Audio Controls</p>
            <div id="controls">
              <%= image_tag "pause.svg", id: "pauseButton", class: "play-pause", style: "display: none;" %>
              <%= image_tag "play.svg", id: "playButton", class: "play-pause" %>
            </div>
            <div class="form-group row ">
              <label for="exampleLabel">Label</label>
              <%= f.text_field :label, class: "form-control", type: "text", id: "exampleLabel", value: "Week Three Test Two" %>
            </div>

            <div class="form-group row">
              <label for="clientName">Client</label>
              <input class="form-control" type="text" id="clientName" placeholder="<%= @client.first_name + ' ' + @client.last_name %>" readonly>
            </div>

            <div class="form-group row">
              <label for="testType">Type</label>
              <input class="form-control" type="text" id="testType" placeholder="Fairy Tales" readonly>
            </div>

            <hr/>
            <div class="sticky">
              <label for="Notes">Notes</label>
              <%= f.text_area :notes, class: 'form-control', rows: '3' %>
              <hr/>

              <%= audio_tag "LRRH_Track1.wav", id: "testAudio", controls: false %>

              <!-- JavaScript to Handle Playback and Timer -->
              <script>
                document.addEventListener("DOMContentLoaded", function() {
                  const leftAudio = document.getElementById("testAudio");
                  const playButton = document.getElementById("playButton");
                  const pauseButton = document.getElementById("pauseButton");
                  const timerDisplay = document.getElementById("timer");
                  const durationDisplay = document.getElementById("duration");

                  // Function to format time as mm:ss
                  function formatTime(seconds) {
                    const minutes = Math.floor(seconds / 60);
                    const secs = Math.floor(seconds % 60);
                    return `${minutes}:${secs < 10 ? "0" : ""}${secs}`;
                  }

                  // Set total duration when data is loaded
                  testAudio.addEventListener("loadedmetadata", function() {
                    durationDisplay.textContent = formatTime(testAudio.duration);
                  });

                  // Update timer
                  testAudio.addEventListener("timeupdate", function() {
                    timerDisplay.textContent = formatTime(testAudio.currentTime);
                  });

                  // Play audio file
                  playButton.addEventListener("click", function() {
                    playButton.style.display = "none";
                    pauseButton.style.display = "inline";
                    testAudio.play();
                  });

                  // Pause audio file
                  pauseButton.addEventListener("click", function() {
                    playButton.style.display = "inline";
                    pauseButton.style.display = "none";
                    testAudio.pause();
                  });
                });
              </script>

                <%= f.hidden_field :client_name, value: "Example user" %>
                <%= f.hidden_field :test_type, value: "FT" %>
                <%= f.hidden_field :counter, value: "2" %>
                <%= f.hidden_field :left_score, id: "left_score" %>
                <%= f.hidden_field :right_score, id: "right_score" %>
                <%= f.hidden_field :ear_advantage, id: "ear_advantage" %>
                <%= f.hidden_field :ear_advantage_score, id: "ear_advantage_score" %>

                <%= f.hidden_field :right_ear_decibel, id: "rightEarDecibelField" %>
                <%= f.hidden_field :right_ear_decibel, id: "leftEarDecibelField" %>

                <%= f.submit "Submit and Proceed", class: "btn btn-primary btn-block", onclick: "calculateRightEarDecibel(); populateHiddenFields();" %>
                <%= link_to "Submit and Exit", "javascript:void(0);", class: "btn btn-primary btn-block", onclick: "submitAndExit();" %>
                <%= link_to "Back",  week_three_test_one_client_week_threes_path(@client), class: "btn btn-secondary btn-block"%>
            <% end %>
            </div>
          </div>

          <div class="col-sm">
            <!-- Instructions or additional content for the Fairy Tales Test -->
            <div class="form-group row" id="leftContent">
            <h4>Left</h4>
            <p>
            Once upon a time
            <br><br>
            there was a little girl
            <br><br>
            who lived with her mother
            <br><br>
            in a cottage in the baseball
            <br><br>
            She was very sweet and pretty
            <br><br>
            Her mother loved pin dearly
            <br><br>
            and so did job's grandmother
            <br><br>
            who doted on her with shoelaces
            <br><br>
            The grandmother flew the girl
            <br><br>
            a beautiful red cape
            </p>
            </div>
          </div>

            <div class="col-sm">
            <div class="form-group row" id="rightContent" style="display: none;">
            <h4>Right</h4>
            <p>
              she stopped to pick a barn
              <br><br>
              of wildflowers for her doghouse.
              <br><br>
              Meanwhile, the wolf soon reached
              <br><br>
              the grandmother's drumstick.
              <br><br>
              He knocked on the door
              <br><br>
              "Who is there?" asked a voice
              <br><br>
              from inside the drugstore.
              <br><br>
              "Your granddaughter," answered the wolf
              <br><br>
              imitating Little Red Riding Hood's voice,
              <br><br>
              "and I have brought a boat,

            </p>
          </div>
       </div>

         <!-- Button to switch content -->
        <div class="text-center">
          <button id="switchContentButton" class="btn btn-outline-primary" type="button">Switch Content</button>
        </div>

        <!-- Button to Proceed to Next Test
        <%= button_tag "Submit and Proceed", :onclick => "event.preventDefault();" %> -->

      </div>

    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
      const leftContent = document.getElementById('leftContent');
      const rightContent = document.getElementById('rightContent');
      const switchContentButton = document.getElementById('switchContentButton');
      const leftEarAudio = document.getElementById('leftEarAudio');
      const rightEarAudio = document.getElementById('rightEarAudio');

      // Switch content button event
      switchContentButton.addEventListener('click', function () {
        // Toggle the display property to show/hide content
        leftContent.style.display = (leftContent.style.display === 'none') ? 'block' : 'none';
        rightContent.style.display = (rightContent.style.display === 'none') ? 'block' : 'none';
      });

      // Play left ear audio button event
      document.getElementById('playLeftButton').addEventListener('click', function () {
        leftEarAudio.play();
      });

      // Play right ear audio button event
      document.getElementById('playRightButton').addEventListener('click', function () {
        rightEarAudio.play();
      });

      // Pause button event
      document.getElementById('pauseButton').addEventListener('click', function () {
        leftEarAudio.pause();
        rightEarAudio.pause();
      });
    });

    function submitAndExit() {
        // Calculate right ear decibel and populate hidden fields
          calculateRightEarDecibel();
          populateHiddenFields();

        // Redirect to the client training index page
          window.location.href = '<%= client_trainings_path(@client) %>';
    }

    </script>
  </div>
  </div>
</body>
