<body id= "defBG">


<!--DNW Test Show page, displays data in 3 columns so its easy for clinicians to review and understand the scores gotten -->

<div class="container p-5 my-3 w-100 bg-white border-0">
<h1 class="display-3 pl-4", style= 'padding-top:20px'><b><%= @dnw_test.test_type%> Test Results</b></h1>
<hr>
<!--This contains the 3 rows for the data stored on the page all test scores are pulled from the dnw test model -->

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="pt-5", style= 'padding-top:20px'><center><b>Left Ear Score</b></center></h2>
            <h2 class="display-4", style= 'padding-top:20px'><center><b><%= @dnw_test.left_score%>%</b></center></h2>

        </div>
        <div class="col-sm">
            <%= image_tag 'person.png', class: 'w-40 img-responsive center-block', style: 'max-width: 20rem;' %>
        </div>
        <div class="col-sm">
            <h2 class="pt-5", style= 'padding-top:20px'><center><b>Right Ear Score</b></center></h2>
            <h2 class="display-4 "pl-4"", style= 'padding-top:20px'><center><b><%= @dnw_test.right_score%>%</b></center></h2>

        </div>
    </div>
<div>

<!--Data stored outside of the columns with the image -->
<!--Data stored outside of the columns with the image -->

<h3>Selected Words</h3>
<table class="table table-sm table-striped ml-4" style="max-width: 25rem;">
  <thead class="thead-dark">
    <tr>
      <th>Number</th>
      <th>Left</th>
      <th>Right</th>
    </tr>
  </thead>
  <tbody>
    <% words_list = case @dwt_test.category_id
                   when 1
                     [
                       ["Fun", "Pig"],
                       ["Vine", "Sheep"],
                       ["Cake", "Buy"],
                       ["Round", "Storm"],
                       ["Say", "Tan"],
                       ["Yes", "Fast"],
                       ["Pen", "Most"],
                       ["Bet", "One"],
                       ["Green", "Booth"],
                       ["Store", "Glass"],
                       ["Soap", "Teeth"],
                       ["Bring", "Share"],
                       ["Rug", "Book"],
                       ["Want", "Soft"],
                       ["Tow", "Kite"],
                       ["Why", "Quack"],
                       ["Comb", "For"],
                       ["That", "Love"],
                       ["Bug", "Wet"],
                       ["Quiz", "Juice"],
                       ["Camp", "Light"],
                       ["Hand", "Goose"],
                       ["Lip", "Dad"],
                       ["Fall", "Room"],
                       ["Old", "Chef"]
                     ]
                   when 2
                     [
                       ["Bell", "Farm"],
                       ["Same", "Cast"],
                       ["Child", "Bowl"],
                       ["How", "Plug"],
                       ["Lick", "Top"],
                       ["Watch", "Horse"],
                       ["Ham", "Day"],
                       ["When", "Truck"],
                       ["Drink", "Rhyme"],
                       ["Sleep", "Yard"],
                       ["Greek", "Stop"],
                       ["Den", "Red"],
                       ["Song", "Math"],
                       ["Dog", "More"],
                       ["Spoon", "North"],
                       ["But", "Chip"],
                       ["Year", "Nice"],
                       ["Cloud", "Make"],
                       ["Tag", "Heart"],
                       ["Pot", "Ball"],
                       ["Door", "Set"],
                       ["Cup", "Pat"],
                       ["Close", "Shine"],
                       ["Ring", "Test"],
                       ["Rough", "Corn"]
                     ]
                   when 3
                     [
                       ["Post", "Rim"],
                       ["Two", "Look"],
                       ["Cook", "Bite"],
                       ["Car", "Lamp"],
                       ["Skip", "Kiss"],
                       ["Dream", "Floor"],
                       ["Phone", "Damp"],
                       ["Sit", "Gold"],
                       ["Bear", "Sun"],
                       ["Knife", "Bath"],
                       ["Leg", "Milk"],
                       ["Young", "Brush"],
                       ["See", "Law"],
                       ["Cat", "Hug"],
                       ["Grass", "Square"],
                       ["Weird", "Globe"],
                       ["Bird", "Fork"],
                       ["Bus", "Swing"],
                       ["Snow", "Race"],
                       ["Moon", "Wall"],
                       ["Heel", "Five"],
                       ["Mud", "Sheet"],
                       ["Mat", "Nail"],
                       ["Gum", "Pie"],
                       ["Pill", "Key"]
                     ]
                   when 4
                     [
                       ["Bar", "Head"],
                       ["Box", "Shelf"],
                       ["Will", "Pan"],
                       ["Work", "Dive"],
                       ["Knit", "Where"],
                       ["Down", "Vase"],
                       ["Food", "Judge"],
                       ["Gas", "Sand"],
                       ["Van", "Game"],
                       ["Joke", "Need"],
                       ["New", "Late"],
                       ["Plate", "Rope"],
                       ["Jar", "Fish"],
                       ["First", "Black"],
                       ["Voice", "Rose"],
                       ["Bed", "Catch"],
                       ["Couch", "Best"],
                       ["Type", "Big"],
                       ["Rain", "Mouse"],
                       ["Cow", "Her"],
                       ["Neat", "Rock"],
                       ["Sing", "Plain"],
                       ["Learn", "Dark"],
                       ["Yell", "White"],
                       ["Help", "Knee"]
                     ]
                   else
                     []
                   end %>
    <% 25.times do |i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary column1-button <%= 'active' if @dnw_test.selected_words[i.to_s]&.include?("1") %>">
              <%= words_list[i][0] %> <!-- Left word -->
            </label>
          </div>
        </td>
        <td>
          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary column2-button <%= 'active' if @dnw_test.selected_words[i.to_s]&.include?("2") %>">
              <%= words_list[i][1] %> <!-- Right word -->
            </label>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>





<hr>
<!--Same data, just stored in exactly same format as is on normal test page, if that is easier for the clinician to use for review -->

<h3 class="display-4 pl-2", style= 'padding-top:20px'><b>Scores Table</b></h3>
<div class="row">
<div class="col-md">
<table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
    <thead>
        <tr>
            <th scope="col">Pairs</th>
            <th scope="col">Left</th>
            <th scope="col">Right</th>
            <th scope="col">Ear Adv</th>
        </tr>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="left-column"><%= @dnw_test.left_score%></span>%</p></td>
                <td class="right-column"><%= @dnw_test.right_score%></span>%</td>
                <td class="ear-advantage"><%= @dnw_test.ear_advantage_score%>0</span>%</td>
            </tr>
        </tbody>
    </thead>
</table>
</div>
<div class="col-md">
    <h1><b>Dominant Ear:</b>    <%= @dnw_test.ear_advantage%></h1>
    <h2><b><center></b></center></h2>
    <h1><b>Ear Advantage Score</b> <%= @dnw_test.ear_advantage_score%>%</h1>
    <h2><b><center></b></center></h2>
</div>
<hr>

<!--this begins the backend functions to keep the test tables looking exactly as they do on the normal test page, these are taken straight from the test page so reivew that for how they work -->


<script>
    const earAdvantageCells = document.querySelectorAll('.ear-advantage');
    const percentileCells = document.querySelectorAll('.percentile');
    
    // Loop through each ear advantage cell
    earAdvantageCells.forEach(cell => {
    // Get the value of the cell
    const value = parseFloat(cell.textContent);

    // Check the value and set the background color accordingly
    if (value < 0) {
        cell.style.backgroundColor = 'lightblue';
    } else if (value > 0) {
        cell.style.backgroundColor = 'lightpink';
    } else {
        cell.style.backgroundColor = 'white';
    }
    });

    percentileCells.forEach(cell => {
    // Get the value of the cell
    const percValue = cell.textContent.trim();

    // Check the value and set the background color accordingly
    if ((percValue == "5th Percentile")) {
        cell.style.backgroundColor = 'lightpink';
    } 
    else if (percValue == "10th Percentile") {
        cell.style.backgroundColor = 'hsl(60, 100%, 70%)';
    } 
    else if (percValue == "25th Percentile") {
        cell.style.backgroundColor = 'lightgreen';
    }
    else{
        cell.style.backgroundColor = 'lightblue';
    }
    });
</script>


<style>
    .left-column {
        background-color: lightblue;
    }
    
    .right-column {
        background-color: lightpink;
    }

</style>

<hr>


