<body class="login-process blue-background">
  <div class="logo">
    <%= link_to new_user_session_path do %>
      <%= image_tag "AUDIA_RGB_LOGO_w.png", class: "logo-image logo-background" %>
    <% end %>
  </div>
  
  <div class="container p-5 bg-white rounded-corner center-align", style="text-align: center;">
    <div class="logo">
      <%= link_to new_user_session_path do %>
        <%= image_tag "back_arrow.svg", class: "back-arrow" %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= image_tag 'AudiaShield1.png', style: "margin: 0 auto; width: 125px " %>
    </div>
    <h3 class="label-medium text-padding" style="font-weight: bold;">Forgot your password?</h3>

    <%= form_for(resource, as: resource_name, url: user_password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: 'label-medium' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg rounded-pill", style: ' padding:10px;' %>
      </div>

      <div class="actions" style= 'padding-top:20px'>
        <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-lg btn-block rounded-pill' %>
      </div>
    <% end %>
  </div>
</body>
