
<body id="defBG" class="training-process bg-white center">
  <div class="card mb-3 border-0 container-training">
    <div class="infobar">
      <div class="left">
        <%= link_to edit_client_path(@client) do %>
          <%= image_tag "back_arrow.svg", class: "chevrons" %>
        <% end %>
      </div>
      <div class="center">
        <h2><%= @client.first_name + " " + @client.last_name %></h2>
      </div>
      <div class="right">
        <% unless @week_number == 1 %>
          <%= button_to subtract_week_client_trainings_path(@client), class: "no-style", method: :post do %>
            <%= image_tag "chevronleft.svg", class: "chevrons" %>
          <% end %>
        <% else %>
          <%= image_tag "chevronleft.svg", class: "chevrons", style: "visibility: hidden;" %>
        <% end %>
        <h2>Week <%= @week_number %></h2>
        <% unless @week_number == 4 %>
          <%= button_to add_week_client_trainings_path(@client), class: "no-style", method: :post do %>
            <%= image_tag "chevronright.svg", class: "chevrons" %>
          <% end %>
        <% else %>
          <%= image_tag "chevronright.svg", class: "chevrons", style: "visibility: hidden;" %>
        <% end %>
      </div>
    </div>

    <div class="content">
      <% if @week_number == 1 %>
        <% if @client.week_ones.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <div class="pos-button">
              <%= link_to "Start Training",  week_one_test_one_client_week_ones_path(@client), class: "btn-1 btn-anim1"%>
            </div>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week One Training Summary</h3>
            <h2>Word Tests Summary </h2>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Type</th>
                  <th>Left Ear Decibel Level</th>
                  <th>Right Ear Decibel Level</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                  <% word_tests = @client.week_ones.select { |week_one| week_one.test_type != 'RDDT'} %>
                  <% word_tests.each do |week_one| %>
                    <% ear_adv_color = week_one.ear_advantage == "Left" ? "lightblue" : week_one.ear_advantage == "Right" ? "lightpink" : 'transparent' %>
                     <% ear_adv_score_color = week_one.ear_advantage_score.to_f < 0 ? "lightblue" : week_one.ear_advantage_score.to_f > 0 ? "lightpink" : "transparent" %>
                  <tr>
                    <td style ="text-align: center;"><%= week_one.id %></td>
                    <td><%= week_one.test_type %></td>
                    <td><%= week_one.left_ear_decibel %></td>
                    <td><%= week_one.right_ear_decibel %></td>
                    <td style = "background-color: lightblue;"><%= "#{(week_one.left_score.presence || 0.0)}%" %></td>
                    <td style = "background-color: lightpink;"><%= "#{(week_one.right_score.presence || 0.0)}%" %></td>
                    <td style = "background-color: <%= ear_adv_color %>;"><%= week_one.ear_advantage %></td>
                    <td style = "background-color: <%= ear_adv_score_color %>;"><%= "#{(week_one.ear_advantage_score || 0.0)}%" %></td>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                <td colspan="2" style = "text-align: center;"><strong>Averages</strong></td>
                <td>
                  <%= word_dec_left_scores = word_tests.map(&:left_ear_decibel).compact
                      word_dec_left_avg = word_dec_left_scores.sum / word_dec_left_scores.size.to_f
                      word_dec_left_avg.round(2)
                      %>
                </td>
                <td>
                <%= word_dec_right_scores = word_tests.map(&:right_ear_decibel).compact
                    word_dec_right_avg = word_dec_right_scores.sum / word_dec_right_scores.size.to_f
                    word_dec_right_avg.round(2)
                    %>
                </td>
                <td style = "background-color: lightblue;"> 
                <%= word_left_scores = word_tests.map(&:left_score).compact
                    word_left_avg = word_left_scores.sum / word_left_scores.size.to_f
                    "#{word_left_avg.round(2)}%" 
                    %>
                </td>
                <td style = "background-color: lightpink;"> 
                <%= word_right_scores = word_tests.map(&:right_score).compact
                word_right_avg = word_right_scores.sum / word_right_scores.size.to_f
                "#{word_right_avg.round(2)}%"
                %>
                </td>
                <% 
                ear_advantages = word_tests.map(&:ear_advantage).compact
                left_count = ear_advantages.count { |adv| adv == "Left" }
                right_count = ear_advantages.count { |adv| adv == "Right" }
                ear_advantage_result = if left_count > right_count
                                          "Left Dom"
                                        elsif right_count > left_count
                                          "Right Dom"
                                        else
                                          "Neutral"
                                        end
                earadv_avg_color = ear_advantage_result == 'Left Dom' ? 'lightblue' : ear_advantage_result == 'Right Dom' ? 'lightpink' : 'transparent'
              %>
              <td style="background-color: <%= earadv_avg_color %>;">
                <%= ear_advantage_result %>
              </td>
                <% word_earadv_scores = word_tests.map(&:ear_advantage_score).compact
                word_earadv_avg = word_earadv_scores.sum / word_earadv_scores.size.to_f %>
                <% earadv_avg_color = word_earadv_avg < 0 ? "lightblue" : word_earadv_avg > 0 ? "lightpink" : "transparent" %>
                <td style="background-color: <%= earadv_avg_color %>;">
                <%= "#{word_earadv_avg.round(2)}%" %>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
          <div class="summary">
          <h2 style= "margin-top: 5px;">Digit Tests Summary</h2>
          <table>
          <thead>
            <tr>
            <th>ID</th>
            <th>Test Type</th>
            <th>Left Ear Decibel Level</th>
            <th>Right Ear Decibel Level</th>
            <th>Left Score</th>
            <th>Right Score</th>
            <th>Ear Advantage</th>
            <th>Ear Advantage Score</th>
            </tr>
          </thead>
          <tbody>
              <% digit_tests = @client.week_ones.select { |week_one| week_one.test_type == 'RDDT'} %>
              <% digit_tests.each do |week_one| %>
                <% ear_adv_color = week_one.ear_advantage == "Left" ? "lightblue" : week_one.ear_advantage == "Right" ? "lightpink" : 'transparent' %>
                <% ear_adv_score_color = week_one.ear_advantage_score.to_f < 0 ? "lightblue" : week_one.ear_advantage_score.to_f > 0 ? "lightpink" : "transparent" %>
              <tr>
              <td style ="text-align: center;"><%= week_one.id %></td>
              <td><%= week_one.test_type %></td>
              <td><%= week_one.left_ear_decibel %></td>
              <td><%= week_one.right_ear_decibel %></td>
              <td style = "background-color: lightblue;"><%= "#{(week_one.left_score.presence || 0.0)}%" %></td>
              <td style = "background-color: lightpink;"><%= "#{(week_one.right_score.presence || 0.0)}%" %></td>
              <td style = "background-color: <%= ear_adv_color %>;"><%= week_one.ear_advantage %></td>
              <td style = "background-color: <%= ear_adv_score_color %>;"><%= "#{(week_one.ear_advantage_score || 0.0)}%" %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
          <tr>
          <td colspan="2" style = "text-align: center;"><strong>Averages</strong></td>
          <td>
            <%= digit_dec_left_scores = digit_tests.map(&:left_ear_decibel).compact
                digit_dec_left_avg = digit_dec_left_scores.sum / digit_dec_left_scores.size.to_f
                digit_dec_left_avg.round(2)
                %>
          </td>
          <td>
          <%= digit_dec_right_scores = digit_tests.map(&:right_ear_decibel).compact
              digit_dec_right_avg = digit_dec_right_scores.sum / digit_dec_right_scores.size.to_f
              digit_dec_right_avg.round(2)
              %>
          </td>
          <td style = "background-color: lightblue;"> 
          <%= digit_left_scores = digit_tests.map(&:left_score).compact
              digit_left_avg = digit_left_scores.sum / digit_left_scores.size.to_f
              "#{digit_left_avg.round(2)}%"
              %>
          </td>
          <td style = "background-color: lightpink;"> 
          <%= digit_right_scores = digit_tests.map(&:right_score).compact
          digit_right_avg = digit_right_scores.sum / digit_right_scores.size.to_f
          "#{digit_right_avg.round(2)}%"
          %>
          </td>
          <% 
          ear_advantages = digit_tests.map(&:ear_advantage).compact
          left_count = ear_advantages.count { |adv| adv == "Left" }
          right_count = ear_advantages.count { |adv| adv == "Right" }
          ear_advantage_result = if left_count > right_count
                                    "Left Dom"
                                  elsif right_count > left_count
                                    "Right Dom"
                                  else
                                    "Neutral"
                                  end
          earadv_avg_color = ear_advantage_result == 'Left Dom' ? 'lightblue' : ear_advantage_result == 'Right Dom' ? 'lightpink' : 'transparent'
        %>
        <td style="background-color: <%= earadv_avg_color %>;">
          <%= ear_advantage_result %>
        </td>
          <% digit_earadv_scores = digit_tests.map(&:ear_advantage_score).compact
          digit_earadv_avg = digit_earadv_scores.sum / digit_earadv_scores.size.to_f %>
          <% earadv_avg_color = digit_earadv_avg < 0 ? "lightblue" : digit_earadv_avg > 0 ? "lightpink" : "transparent" %>
          <td style="background-color: <%= earadv_avg_color %>;">
          <%= "#{digit_earadv_avg.round(2)}%" %>
          </td>
        </tr>
        </tfoot>
        </table>
        <div class="pos-button">
          <%= link_to "Export to Excel", trainings_export_path(@client), class: "btn-1 btn-anim1" %>
          <%= link_to 'Final Summary', client_final_summary_path(@client) %>
        </div>
      </div>
      <% end %>
      <% elsif @week_number == 2%>
        <% if @client.week_ones.empty? %>
          <div>
            <h3>Please Complete the Previous Training to Continue</h3>
          </div>
        <% elsif @client.week_twos.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <div class="pos-button">
              <%= link_to "Start Training",  week_two_test_one_client_week_twos_path(@client), class: "btn-1 btn-anim1" %>
            </div>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week Two Training Summary</h3>
            <h2>Word Tests Summary </h2>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Type</th>
                  <th>Left Ear Decibel Level</th>
                  <th>Right Ear Decibel Level</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                  <% word_tests = @client.week_twos.select { |week_two| week_two.test_type != 'RDDT'} %>
                  <% word_tests.each do |week_two| %>
                      <% ear_adv_color = week_two.ear_advantage == "Left" ? "lightblue" : week_two.ear_advantage == "Right" ? "lightpink" : 'transparent' %>
                     <% ear_adv_score_color = week_two.ear_advantage_score.to_f < 0 ? "lightblue" : week_two.ear_advantage_score.to_f > 0 ? "lightpink" : "transparent" %>
                  <tr>
                    <td style ="text-align: center;"><%= week_two.id %></td>
                    <td><%= week_two.test_type %></td>
                    <td><%= week_two.left_ear_decibel %></td>
                    <td><%= week_two.right_ear_decibel %></td>
                    <td style = "background-color: lightblue;"><%= "#{(week_two.left_score.presence || 0.0)}%" %></td>
                    <td style = "background-color: lightpink;"><%= "#{(week_two.right_score.presence || 0.0)}%" %></td>
                    <td style = "background-color: <%= ear_adv_color %>;"><%= week_two.ear_advantage %></td>
                    <td style = "background-color: <%= ear_adv_score_color %>;"><%= "#{(week_two.ear_advantage_score || 0.0)}%" %></td>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                <td colspan="2" style = "text-align: center;"><strong>Averages</strong></td>
                <td>
                  <%= word_dec_left_scores = word_tests.map(&:left_ear_decibel).compact
                      word_dec_left_avg = word_dec_left_scores.sum / word_dec_left_scores.size.to_f
                      word_dec_left_avg.round(2)
                      %>
                </td>
                <td>
                <%= word_dec_right_scores = word_tests.map(&:right_ear_decibel).compact
                    word_dec_right_avg = word_dec_right_scores.sum / word_dec_right_scores.size.to_f
                    word_dec_right_avg.round(2)
                    %>
                </td>
                <td style = "background-color: lightblue;">
                <%= word_left_scores = word_tests.map(&:left_score).compact
                    word_left_avg = word_left_scores.sum / word_left_scores.size.to_f
                    "#{word_left_avg.round(2)}%"
                    %>
                </td>
                <td style = "background-color: lightpink;">
                <%= word_right_scores = word_tests.map(&:right_score).compact
                word_right_avg = word_right_scores.sum / word_right_scores.size.to_f
                "#{word_right_avg.round(2)}%"
                %>
                </td>
                <% 
                ear_advantages = word_tests.map(&:ear_advantage).compact
                left_count = ear_advantages.count { |adv| adv == "Left" }
                right_count = ear_advantages.count { |adv| adv == "Right" }
                ear_advantage_result = if left_count > right_count
                                          "Left Dom"
                                        elsif right_count > left_count
                                          "Right Dom"
                                        else
                                          "Neutral"
                                        end
                earadv_avg_color = ear_advantage_result == 'Left Dom' ? 'lightblue' : ear_advantage_result == 'Right Dom' ? 'lightpink' : 'transparent'
              %>
              <td style="background-color: <%= earadv_avg_color %>;">
                <%= ear_advantage_result %>
              </td>
                <% word_earadv_scores = word_tests.map(&:ear_advantage_score).compact
                word_earadv_avg = word_earadv_scores.sum / word_earadv_scores.size.to_f %>
                <% earadv_avg_color = word_earadv_avg < 0 ? "lightblue" : word_earadv_avg > 0 ? "lightpink" : "transparent" %>
                <td style="background-color: <%= earadv_avg_color %>;">
                <%= "#{word_earadv_avg.round(2)}%" %>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
          <div class="summary">
          <h2 style= "margin-top: 5px;">Digit Tests Summary</h2>
          <table>
          <thead>
            <tr>
            <th>ID</th>
            <th>Test Type</th>
            <th>Left Ear Decibel Level</th>
            <th>Right Ear Decibel Level</th>
            <th>Left Score</th>
            <th>Right Score</th>
            <th>Ear Advantage</th>
            <th>Ear Advantage Score</th>
            </tr>
          </thead>
          <tbody>
              <% digit_tests = @client.week_twos.select { |week_two| week_two.test_type == 'RDDT'} %>
              <% digit_tests.each do |week_two| %>
              <tr>
              <td style ="text-align: center;"><%= week_two.id %></td>
              <td><%= week_two.test_type %></td>
              <td><%= week_two.left_ear_decibel %></td>
              <td><%= week_two.right_ear_decibel %></td>
              <td style = "background-color: lightblue;"><%= "#{(week_two.left_score.presence || 0.0)}%" %></td>
              <td style = "background-color: lightpink;"><%= "#{(week_two.right_score.presence || 0.0)}%" %></td>
              <td style = "background-color: <%= ear_adv_color %>;"><%= week_two.ear_advantage %></td>
              <td style = "background-color: <%= ear_adv_score_color %>;"><%= "#{(week_two.ear_advantage_score || 0.0)}%" %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
          <tr>
          <td colspan="2" style = "text-align: center;"><strong>Averages</strong></td>
          <td>
            <%= digit_dec_left_scores = digit_tests.map(&:left_ear_decibel).compact
                digit_dec_left_avg = digit_dec_left_scores.sum / digit_dec_left_scores.size.to_f
                digit_dec_left_avg.round(2)
                %>
          </td>
          <td>
          <%= digit_dec_right_scores = digit_tests.map(&:right_ear_decibel).compact
              digit_dec_right_avg = digit_dec_right_scores.sum / digit_dec_right_scores.size.to_f
              digit_dec_right_avg.round(2)
              %>
          </td>
          <td style = "background-color: lightblue;"> 
          <%= digit_left_scores = digit_tests.map(&:left_score).compact
              digit_left_avg = digit_left_scores.sum / digit_left_scores.size.to_f
              "#{digit_left_avg.round(2)}%"
              %>
          </td>
          <td style = "background-color: lightpink;">
          <%= digit_right_scores = digit_tests.map(&:right_score).compact
          digit_right_avg = digit_right_scores.sum / digit_right_scores.size.to_f
          "#{digit_right_avg.round(2)}%"
          %>
          </td>
          <% 
          ear_advantages = digit_tests.map(&:ear_advantage).compact
          left_count = ear_advantages.count { |adv| adv == "Left" }
          right_count = ear_advantages.count { |adv| adv == "Right" }
          ear_advantage_result = if left_count > right_count
                                    "Left Dom"
                                  elsif right_count > left_count
                                    "Right Dom"
                                  else
                                    "Neutral"
                                  end
          earadv_avg_color = ear_advantage_result == 'Left Dom' ? 'lightblue' : ear_advantage_result == 'Right Dom' ? 'lightpink' : 'transparent'
        %>
        <td style="background-color: <%= earadv_avg_color %>;">
          <%= ear_advantage_result %>
        </td>
          <% digit_earadv_scores = digit_tests.map(&:ear_advantage_score).compact
          digit_earadv_avg = digit_earadv_scores.sum / digit_earadv_scores.size.to_f %>
          <% earadv_avg_color = digit_earadv_avg < 0 ? "lightblue" : digit_earadv_avg > 0 ? "lightpink" : "transparent" %>
          <td style="background-color: <%= earadv_avg_color %>;">
          <%= "#{digit_earadv_avg.round(2)}%" %>
          </td>
        </tr>
        </tfoot>
        </table>
        <div class="pos-button">
          <%= link_to "Export to Excel", trainings_export_path(@client), class: "btn-1 btn-anim1" %>
        </div>
      </div>
    <% end %>
      <% elsif @week_number == 3 %>
        <% if @client.week_twos.empty? %>
          <div>
            <h3>Please Complete the Previous Training to Continue</h3>
          </div>
        <% elsif @client.week_threes.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <div class="pos-button">
              <%= link_to "Start Training",  week_three_test_one_client_week_threes_path(@client), class: "btn-1 btn-anim1" %>
            </div>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week Three Training Summary</h3>
            <h2>Word Tests Summary </h2>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Type</th>
                  <th>Left Ear Decibel Level</th>
                  <th>Right Ear Decibel Level</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                  <% word_tests = @client.week_ones.select { |week_three| week_three.test_type != 'RDDT'} %>
                  <% word_tests.each do |week_three| %>
                    <% ear_adv_color = week_three.ear_advantage == "Left" ? "lightblue" : week_three.ear_advantage == "Right" ? "lightpink" : 'transparent' %>
                     <% ear_adv_score_color = week_three.ear_advantage_score.to_f < 0 ? "lightblue" : week_three.ear_advantage_score.to_f > 0 ? "lightpink" : "transparent" %>
                  <tr>
                    <td style ="text-align: center;"><%= week_three.id %></td>
                    <td><%= week_three.test_type %></td>
                    <td><%= week_three.left_ear_decibel %></td>
                    <td><%= week_three.right_ear_decibel %></td>
                    <td style = "background-color: lightblue;"><%= "#{(week_three.left_score.presence || 0.0)}%" %></td>
                    <td style = "background-color: lightpink;"><%= "#{(week_three.right_score.presence || 0.0)}%" %></td>
                    <td style = "background-color: <%= ear_adv_color %>;"><%= week_three.ear_advantage %></td>
                    <td style = "background-color: <%= ear_adv_score_color %>;"><%= "#{(week_three.ear_advantage_score || 0.0)}%" %></td>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                <td colspan="2" style = "text-align: center;"><strong>Averages</strong></td>
                <td>
                  <%= word_dec_left_scores = word_tests.map(&:left_ear_decibel).compact
                      word_dec_left_avg = word_dec_left_scores.sum / word_dec_left_scores.size.to_f
                      word_dec_left_avg.round(2)
                      %>
                </td>
                <td>
                <%= word_dec_right_scores = word_tests.map(&:right_ear_decibel).compact
                    word_dec_right_avg = word_dec_right_scores.sum / word_dec_right_scores.size.to_f
                    word_dec_right_avg.round(2)
                    %>
                </td>
                <td style = "background-color: lightblue;">
                <%= word_left_scores = word_tests.map(&:left_score).compact
                    word_left_avg = word_left_scores.sum / word_left_scores.size.to_f
                    "#{word_left_avg.round(2)}%"
                    %>
                </td>
                <td style = "background-color: lightpink;">
                <%= word_right_scores = word_tests.map(&:right_score).compact
                word_right_avg = word_right_scores.sum / word_right_scores.size.to_f
                "#{word_right_avg.round(2)}%" 
                %>
                </td>
                <% 
                ear_advantages = word_tests.map(&:ear_advantage).compact
                left_count = ear_advantages.count { |adv| adv == "Left" }
                right_count = ear_advantages.count { |adv| adv == "Right" }
                ear_advantage_result = if left_count > right_count
                                          "Left Dom"
                                        elsif right_count > left_count
                                          "Right Dom"
                                        else
                                          "Neutral"
                                        end
                earadv_avg_color = ear_advantage_result == 'Left Dom' ? 'lightblue' : ear_advantage_result == 'Right Dom' ? 'lightpink' : 'transparent'
              %>
              <td style="background-color: <%= earadv_avg_color %>;">
                <%= ear_advantage_result %>
              </td>
                <% word_earadv_scores = word_tests.map(&:ear_advantage_score).compact
                word_earadv_avg = word_earadv_scores.sum / word_earadv_scores.size.to_f %>
                <% earadv_avg_color = word_earadv_avg < 0 ? "lightblue" : word_earadv_avg > 0 ? "lightpink" : "transparent" %>
                <td style="background-color: <%= earadv_avg_color %>;">
                <%= "#{word_earadv_avg.round(2)}%" %>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
          <div class="summary">
          <h2 style= "margin-top: 5px;">Digit Tests Summary</h2>
          <table>
          <thead>
            <tr>
            <th>ID</th>
            <th>Test Type</th>
            <th>Left Ear Decibel Level</th>
            <th>Right Ear Decibel Level</th>
            <th>Left Score</th>
            <th>Right Score</th>
            <th>Ear Advantage</th>
            <th>Ear Advantage Score</th>
            </tr>
          </thead>
          <tbody>
              <% digit_tests = @client.week_threes.select { |week_three| week_three.test_type == 'RDDT'} %>
              <% digit_tests.each do |week_three| %>
                      <% ear_adv_color = week_three.ear_advantage == "Left" ? "lightblue" : week_three.ear_advantage == "Right" ? "lightpink" : 'transparent' %>
                     <% ear_adv_score_color = week_three.ear_advantage_score.to_f < 0 ? "lightblue" : week_three.ear_advantage_score.to_f > 0 ? "lightpink" : "transparent" %>
              <tr>
              <td style ="text-align: center;"><%= week_three.id %></td>
              <td><%= week_three.test_type %></td>
              <td><%= week_three.left_ear_decibel %></td>
              <td><%= week_three.right_ear_decibel %></td>
              <td style = "background-color: lightblue;"><%= "#{(week_three.left_score.presence || 0.0)}%" %></td>
              <td style = "background-color: lightpink;"><%= "#{(week_three.right_score.presence || 0.0)}%" %></td>
              <td style = "background-color: <%= ear_adv_color %>;"><%= week_three.ear_advantage %></td>
              <td style = "background-color: <%= ear_adv_score_color %>;"><%= "#{(week_three.ear_advantage_score || 0.0)}%" %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
          <tr>
          <td colspan="2" style = "text-align: center;"><strong>Averages</strong></td>
          <td>
            <%= digit_dec_left_scores = digit_tests.map(&:left_ear_decibel).compact
                digit_dec_left_avg = digit_dec_left_scores.sum / digit_dec_left_scores.size.to_f
                digit_dec_left_avg.round(2)
                %>
          </td>
          <td>
          <%= digit_dec_right_scores = digit_tests.map(&:right_ear_decibel).compact
              digit_dec_right_avg = digit_dec_right_scores.sum / digit_dec_right_scores.size.to_f
              digit_dec_right_avg.round(2)
              %>
          </td>
          <td style = "background-color: lightblue;">
          <%= digit_left_scores = digit_tests.map(&:left_score).compact
              digit_left_avg = digit_left_scores.sum / digit_left_scores.size.to_f
              "#{digit_left_avg.round(2)}%"
              %>
          </td>
          <td>
          <%= digit_right_scores = digit_tests.map(&:right_score).compact
          digit_right_avg = digit_right_scores.sum / digit_right_scores.size.to_f
          "#{digit_right_avg.round(2)}%"
          %>
          </td>
          <% 
          ear_advantages = digit_tests.map(&:ear_advantage).compact
          left_count = ear_advantages.count { |adv| adv == "Left" }
          right_count = ear_advantages.count { |adv| adv == "Right" }
          ear_advantage_result = if left_count > right_count
                                    "Left Dom"
                                  elsif right_count > left_count
                                    "Right Dom"
                                  else
                                    "Neutral"
                                  end
          earadv_avg_color = ear_advantage_result == 'Left Dom' ? 'lightblue' : ear_advantage_result == 'Right Dom' ? 'lightpink' : 'transparent'
        %>
        <td style="background-color: <%= earadv_avg_color %>;">
          <%= ear_advantage_result %>
        </td>
          <% digit_earadv_scores = digit_tests.map(&:ear_advantage_score).compact
          digit_earadv_avg = digit_earadv_scores.sum / digit_earadv_scores.size.to_f %>
          <% earadv_avg_color = digit_earadv_avg < 0 ? "lightblue" : digit_earadv_avg > 0 ? "lightpink" : "transparent" %>
          <td style="background-color: <%= earadv_avg_color %>;">
          <%= "#{digit_earadv_avg.round(2)}%" %>
          </td>
        </tr>
        </tfoot>
        </table>
        <div class="pos-button">
          <%= link_to "Export to Excel", trainings_export_path(@client), class: "btn-1 btn-anim1" %>
        </div>
      </div>
        <% end %>
      <% elsif @week_number == 4 %>
        <% if @client.week_threes.empty? %>
          <div>
            <h3>Please Complete the Previous Training to Continue</h3>
          </div>
        <% elsif @client.week_fours.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <div class="pos-button">
              <%= link_to "Start Training",  week_four_test_one_client_week_fours_path(@client), class: "btn-1 btn-anim1" %>
            </div>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week Four Training Summary</h3>
            <h2>Word Tests Summary </h2>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Type</th>
                  <th>Left Ear Decibel Level</th>
                  <th>Right Ear Decibel Level</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                  <% word_tests = @client.week_fours.select { |week_four| week_four.test_type != 'RDDT'} %>
                  <% word_tests.each do |week_four| %>
                      <% ear_adv_color = week_four.ear_advantage == "Left" ? "lightblue" : week_four.ear_advantage == "Right" ? "lightpink" : 'transparent' %>
                     <% ear_adv_score_color = week_four.ear_advantage_score.to_f < 0 ? "lightblue" : week_four.ear_advantage_score.to_f > 0 ? "lightpink" : "transparent" %>
                  <tr>
                    <td style ="text-align: center;"><%= week_four.id %></td>
                    <td><%= week_four.test_type %></td>
                    <td><%= week_four.left_ear_decibel %></td>
                    <td><%= week_four.right_ear_decibel %></td>
                    <td style = "background-color: lightblue;"><%= "#{(week_four.left_score.presence || 0.0)}%" %></td>
                    <td style = "background-color: lightpink;"><%= "#{(week_four.right_score.presence || 0.0)}%" %></td>
                    <td style = "background-color: <%= ear_adv_color %>;"><%= week_four.ear_advantage %></td>
                    <td style = "background-color: <%= ear_adv_score_color %>;"><%= "#{(week_four.ear_advantage_score || 0.0)}%" %></td>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                <td colspan="2" style = "text-align: center;"><strong>Averages</strong></td>
                <td>
                  <%= word_dec_left_scores = word_tests.map(&:left_ear_decibel).compact
                      word_dec_left_avg = word_dec_left_scores.sum / word_dec_left_scores.size.to_f
                      word_dec_left_avg.round(2)
                      %>
                </td>
                <td>
                <%= word_dec_right_scores = word_tests.map(&:right_ear_decibel).compact
                    word_dec_right_avg = word_dec_right_scores.sum / word_dec_right_scores.size.to_f
                    word_dec_right_avg.round(2)
                    %>
                </td>
                <td style = "background-color: lightblue;">
                <%= word_left_scores = word_tests.map(&:left_score).compact
                    word_left_avg = word_left_scores.sum / word_left_scores.size.to_f
                    "#{word_left_avg.round(2)}%"
                    %>
                </td>
                <td style = "background-color: lightpink;">
                <%= word_right_scores = word_tests.map(&:right_score).compact
                word_right_avg = word_right_scores.sum / word_right_scores.size.to_f
                "#{word_right_avg.round(2)}%"
                %>
                </td>
                <% 
                ear_advantages = word_tests.map(&:ear_advantage).compact
                left_count = ear_advantages.count { |adv| adv == "Left" }
                right_count = ear_advantages.count { |adv| adv == "Right" }
                ear_advantage_result = if left_count > right_count
                                          "Left Dom"
                                        elsif right_count > left_count
                                          "Right Dom"
                                        else
                                          "Neutral"
                                        end
                earadv_avg_color = ear_advantage_result == 'Left Dom' ? 'lightblue' : ear_advantage_result == 'Right Dom' ? 'lightpink' : 'transparent'
              %>
              <td style="background-color: <%= earadv_avg_color %>;">
                <%= ear_advantage_result %>
              </td>
                <% word_earadv_scores = word_tests.map(&:ear_advantage_score).compact
                word_earadv_avg = word_earadv_scores.sum / word_earadv_scores.size.to_f %>
                <% earadv_avg_color = word_earadv_avg < 0 ? "lightblue" : word_earadv_avg > 0 ? "lightpink" : "transparent" %>
                <td style="background-color: <%= earadv_avg_color %>;">
                <%= "#{word_earadv_avg.round(2)}%" %>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
          <div class="summary">
          <h2 style= "margin-top: 5px;">Digit Tests Summary</h2>
          <table>
          <thead>
            <tr>
            <th>ID</th>
            <th>Test Type</th>
            <th>Left Ear Decibel Level</th>
            <th>Right Ear Decibel Level</th>
            <th>Left Score</th>
            <th>Right Score</th>
            <th>Ear Advantage</th>
            <th>Ear Advantage Score</th>
            </tr>
          </thead>
          <tbody>
              <% digit_tests = @client.week_fours.select { |week_four| week_four.test_type == 'RDDT'} %>
              <% digit_tests.each do |week_four| %>
                      <% ear_adv_color = week_four.ear_advantage == "Left" ? "lightblue" : week_four.ear_advantage == "Right" ? "lightpink" : 'transparent' %>
                     <% ear_adv_score_color = week_four.ear_advantage_score.to_f < 0 ? "lightblue" : week_four.ear_advantage_score.to_f > 0 ? "lightpink" : "transparent" %>
              <tr>
              <td style ="text-align: center;"><%= week_four.id %></td>
              <td><%= week_four.test_type %></td>
              <td><%= week_four.left_ear_decibel %></td>
              <td><%= week_four.right_ear_decibel %></td>
              <td style = "background-color: lightblue;"><%= "#{(week_four.left_score.presence || 0.0)}%" %></td>
              <td style = "background-color: lightpink;"><%= "#{(week_four.right_score.presence || 0.0)}%" %></td>
              <td style = "background-color: <%= ear_adv_color %>;"><%= week_four.ear_advantage %></td>
              <td style = "background-color: <%= ear_adv_score_color %>;"><%= "#{(week_four.ear_advantage_score || 0.0)}%" %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
          <tr>
          <td colspan="2" style = "text-align: center;"><strong>Averages</strong></td>
          <td>
            <%= digit_dec_left_scores = digit_tests.map(&:left_ear_decibel).compact
                digit_dec_left_avg = digit_dec_left_scores.sum / digit_dec_left_scores.size.to_f
                digit_dec_left_avg.round(2)
                %>
          </td>
          <td>
          <%= digit_dec_right_scores = digit_tests.map(&:right_ear_decibel).compact
              digit_dec_right_avg = digit_dec_right_scores.sum / digit_dec_right_scores.size.to_f
              digit_dec_right_avg.round(2)
              %>
          </td>
          <td style = "background-color: lightblue;">
          <%= digit_left_scores = digit_tests.map(&:left_score).compact
              digit_left_avg = digit_left_scores.sum / digit_left_scores.size.to_f
              "#{digit_left_avg.round(2)}%"
              %>
          </td>
          <td style = "background-color: lightpink;">
          <%= digit_right_scores = digit_tests.map(&:right_score).compact
          digit_right_avg = digit_right_scores.sum / digit_right_scores.size.to_f
          "#{digit_right_avg.round(2)}%"
          %>
          </td>
          <% 
          ear_advantages = digit_tests.map(&:ear_advantage).compact
          left_count = ear_advantages.count { |adv| adv == "Left" }
          right_count = ear_advantages.count { |adv| adv == "Right" }
          ear_advantage_result = if left_count > right_count
                                    "Left Dom"
                                  elsif right_count > left_count
                                    "Right Dom"
                                  else
                                    "Neutral"
                                  end
          earadv_avg_color = ear_advantage_result == 'Left Dom' ? 'lightblue' : ear_advantage_result == 'Right Dom' ? 'lightpink' : 'transparent'
        %>
        <td style="background-color: <%= earadv_avg_color %>;">
          <%= ear_advantage_result %>
        </td>
          <% digit_earadv_scores = digit_tests.map(&:ear_advantage_score).compact
          digit_earadv_avg = digit_earadv_scores.sum / digit_earadv_scores.size.to_f %>
          <% earadv_avg_color = digit_earadv_avg < 0 ? "lightblue" : digit_earadv_avg > 0 ? "lightpink" : "transparent" %>
          <td style="background-color: <%= earadv_avg_color %>;">
          <%= "#{digit_earadv_avg.round(2)}%" %>
          </td>
        </tr>
        </tfoot>
        </table>
        <div class="pos-button">
          <%= link_to "Export to Excel", trainings_export_path(@client), class: "btn-1 btn-anim1" %>
        </div>
      </div>
        <% end %>
        <% end %>
    </div>
  </div>
</body>
