
<body id="defBG" class="training-process bg-white center">
  <div class="card mb-3 border-0", style="padding-top:25px">
    <div class="infobar">
      <div class="left">
        <h2><%= @client.first_name + " " + @client.last_name %></h2>
      </div>
      <div class="right">
        <%= button_to subtract_week_client_trainings_path(@client), class: "no-style", method: :post do %>
          <%= image_tag "chevronleft.svg", class: "chevrons" %>
        <% end %>
        <h2>Week <%= @week_number %></h2>
        <%= button_to add_week_client_trainings_path(@client), class: "no-style", method: :post do %>
          <%= image_tag "chevronright.svg", class: "chevrons" %>
        <% end %>
      </div>
    </div>

    <div class="content">
      <% if @week_number == 1 %>
        <% if @client.week_ones.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <%= link_to "Start Training",  week_one_test_one_client_week_ones_path(@client), class: "btn btn-secondary"%>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week One Training Summary</h3>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Giver</th>
                  <th>Test Type</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                <% @client.week_ones.each do |week_one| %>
                  <tr>
                    <td><%= week_one.id %></td>
                    <td><%= week_one.client.full_name %></td>
                    <td><%= week_one.test_type %></td>
                    <td><%= week_one.left_score %></td>
                    <td><%= week_one.right_score %></td>
                    <td><%= week_one.ear_advantage %></td>
                    <td><%= week_one.ear_advantage_score %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% elsif @week_number == 2%>
        <% if @client.week_twos.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <%= link_to "Start Training",  week_two_test_one_client_week_twos_path(@client), class: "btn btn-secondary"%>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week Two Training Summary</h3>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Giver</th>
                  <th>Test Type</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                <% @client.week_ones.each do |week_one| %>
                  <tr>
                    <td><%= week_one.id %></td>
                    <td><%= week_one.client.full_name %></td>
                    <td><%= week_one.test_type %></td>
                    <td><%= week_one.left_score %></td>
                    <td><%= week_one.right_score %></td>
                    <td><%= week_one.ear_advantage %></td>
                    <td><%= week_one.ear_advantage_score %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% elsif @week_number == 3 %>
        <% if @client.week_threes.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <%= link_to "Start Training",  week_three_test_one_client_week_threes_path(@client), class: "btn btn-secondary"%>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week Three Training Summary</h3>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Giver</th>
                  <th>Test Type</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                <% @client.week_threes.each do |week_three| %>
                  <tr>
                    <td><%= week_three.id %></td>
                    <td><%= week_three.client.full_name %></td>
                    <td><%= week_three.test_type %></td>
                    <td><%= week_three.left_score %></td>
                    <td><%= week_three.right_score %></td>
                    <td><%= week_three.ear_advantage %></td>
                    <td><%= week_three.ear_advantage_score %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% elsif @week_number == 4 %>
        <% if @client.week_fours.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <%= link_to "Start Training",  week_four_test_one_client_week_fours_path(@client), class: "btn btn-secondary"%>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week Four Training Summary</h3>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Giver</th>
                  <th>Test Type</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                <% @client.week_fours.each do |week_four| %>
                  <tr>
                    <td><%= week_four.id %></td>
                    <td><%= week_four.client.full_name %></td>
                    <td><%= week_four.test_type %></td>
                    <td><%= week_four.left_score %></td>
                    <td><%= week_four.right_score %></td>
                    <td><%= week_four.ear_advantage %></td>
                    <td><%= week_four.ear_advantage_score %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Go back to Client information page', edit_client_path(@client), class: 'btn btn-outline-primary' %> </div>
    </div>
  </div>
</body>