
<body id="defBG" class="training-process bg-white center">
  <div class="card mb-3 border-0 container-training">
    <div class="infobar">
      <div class="left">
        <%= link_to edit_client_path(@client) do %>
          <%= image_tag "back_arrow.svg", class: "chevrons" %>
        <% end %>
      </div>
      <div class="center">
        <h2><%= @client.first_name + " " + @client.last_name %></h2>
      </div>
      <div class="right">
        <% unless @week_number == 1 %>
          <%= button_to subtract_week_client_trainings_path(@client), class: "no-style", method: :post do %>
            <%= image_tag "chevronleft.svg", class: "chevrons" %>
          <% end %>
        <% else %>
          <%= image_tag "chevronleft.svg", class: "chevrons", style: "visibility: hidden;" %>
        <% end %>
        <h2>Week <%= @week_number %></h2>
        <% unless @week_number == 4 %>
          <%= button_to add_week_client_trainings_path(@client), class: "no-style", method: :post do %>
            <%= image_tag "chevronright.svg", class: "chevrons" %>
          <% end %>
        <% else %>
          <%= image_tag "chevronright.svg", class: "chevrons", style: "visibility: hidden;" %>
        <% end %>
      </div>
    </div>

    <div class="content">
      <% if @week_number == 1 %>
        <% if @client.week_ones.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <div class="pos-button">
              <%= link_to "Start Training",  week_one_test_one_client_week_ones_path(@client), class: "btn btn-primary"%>
            <div>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week One Training Summary</h3>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Giver</th>
                  <th>Test Type</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                <% @client.week_ones.each do |week_one| %>
                  <tr>
                    <td><%= week_one.id %></td>
                    <td><%= week_one.client.full_name %></td>
                    <td><%= week_one.test_type %></td>
                    <td><%= week_one.left_score %></td>
                    <td><%= week_one.right_score %></td>
                    <td><%= week_one.ear_advantage %></td>
                    <td><%= week_one.ear_advantage_score %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pos-button">
              <%= link_to "Export to Excel", trainings_export_path(@client), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% elsif @week_number == 2%>
        <% if @client.week_ones.empty? %>
          <div>
            <h3>Please Complete the Previous Training to Continue</h3>
          </div>
        <% elsif @client.week_twos.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <div class="pos-button">
              <%= link_to "Start Training",  week_two_test_one_client_week_twos_path(@client), class: "btn btn-primary"%>
            <div>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week Two Training Summary</h3>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Giver</th>
                  <th>Test Type</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                <% @client.week_twos.each do |week_two| %>
                  <tr>
                    <td><%= week_two.id %></td>
                    <td><%= week_two.client.full_name %></td>
                    <td><%= week_two.test_type %></td>
                    <td><%= week_two.left_score %></td>
                    <td><%= week_two.right_score %></td>
                    <td><%= week_two.ear_advantage %></td>
                    <td><%= week_two.ear_advantage_score %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pos-button">
              <%= link_to "Export to Excel", trainings_export_path(@client), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% elsif @week_number == 3 %>
        <% if @client.week_twos.empty? %>
          <div>
            <h3>Please Complete the Previous Training to Continue</h3>
          </div>
        <% elsif @client.week_threes.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <div class="pos-button">
              <%= link_to "Start Training",  week_three_test_one_client_week_threes_path(@client), class: "btn btn-primary"%>
            <div>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week Three Training Summary</h3>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Giver</th>
                  <th>Test Type</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                <% @client.week_threes.each do |week_three| %>
                  <tr>
                    <td><%= week_three.id %></td>
                    <td><%= week_three.client.full_name %></td>
                    <td><%= week_three.test_type %></td>
                    <td><%= week_three.left_score %></td>
                    <td><%= week_three.right_score %></td>
                    <td><%= week_three.ear_advantage %></td>
                    <td><%= week_three.ear_advantage_score %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pos-button">
              <%= link_to "Export to Excel", trainings_export_path(@client), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% elsif @week_number == 4 %>
        <% if @client.week_threes.empty? %>
          <div>
            <h3>Please Complete the Previous Training to Continue</h3>
          </div>
        <% elsif @client.week_fours.empty? %>
          <div class="training-button">
            <h3>Complete Training Below To View Summary</h3>
            <div class="pos-button">
              <%= link_to "Start Training",  week_four_test_one_client_week_fours_path(@client), class: "btn btn-primary"%>
            <div>
          </div>
        <% else %>
          <div class="summary">
            <h3>Week Four Training Summary</h3>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Test Giver</th>
                  <th>Test Type</th>
                  <th>Left Score</th>
                  <th>Right Score</th>
                  <th>Ear Advantage</th>
                  <th>Ear Advantage Score</th>
                </tr>
              </thead>

              <tbody>
                <% @client.week_fours.each do |week_four| %>
                  <tr>
                    <td><%= week_four.id %></td>
                    <td><%= week_four.client.full_name %></td>
                    <td><%= week_four.test_type %></td>
                    <td><%= week_four.left_score %></td>
                    <td><%= week_four.right_score %></td>
                    <td><%= week_four.ear_advantage %></td>
                    <td><%= week_four.ear_advantage_score %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pos-button">
              <%= link_to "Export to Excel", trainings_export_path(@client), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
